<!DOCTYPE html>
<html>
<head>
  <title>CourseCreation</title>
  <%= stylesheet_link_tag    "course_creation/application", media: "all" %>
  <%= javascript_include_tag "course_creation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
